<dm-map-controls
  [controls]="controls"
  (controlsChange)="handleControlsChange($event)"
></dm-map-controls>

<!-- map -->
<div id="map"></div>

<!--<agm-map-->
  <!--[latitude]="lat"-->
  <!--[longitude]="lng"-->
  <!--[zoom]="zoom"-->
  <!---->
<!--&gt;-->
  <!--<agm-polyline">-->
    <!--<agm-polyline-point-->
      <!--*ngFor="let point of points"-->
      <!--[latitude]="point.lat"-->
      <!--[longitude]="point.lng"-->
    <!--&gt;</agm-polyline-point>-->
  <!--</agm-polyline>-->
<!--</agm-map>-->

<dm-share></dm-share>
